.transitContent {
	margin: 0 -15px;
	padding: 0rem 1rem;
	color: #000;
	background-color: #fff;
}
html,body{height: 100%;width: 100%;margin:0;padding:0;}
body{
	background:url(../img/rangeBg.png) no-repeat;
    width:100%;
    height:100%;
    background-size:100% 100%;
    position:absolute;
    filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../../img/rangeBg.png)',sizingMethod='scale');
}

.range{
	position: absolute;
	right: 1rem;
	font-size: 1rem;
	text-align: center;
	background-color: rgba(153, 153, 153, 0);
}
.transitTitle {
	font-size: 1.25rem;
	height: 3rem;
	line-height: 3rem;
	text-align: center;
	color: #000;
}
.back {
	position: absolute;
	left: 1rem;
	font-size: 1rem;
	text-align: center;
	background-color: rgba(153, 153, 153, 0);
}
.transitCard {
	background-color: rgba(92, 209, 222, 1);
	border-radius: 10px;
	box-shadow: 0px 20px 30px rgba(58, 165, 216, 0.349019607843137);
	padding: 10px;
	color: #fff;
	text-align: right;
	font-size: 1.1rem;
}

.transitCard p.title {
	text-align: left;
}

.transitCard p.title img {
	width: 1.8rem;
	height: 1.8rem;
	margin-right: 10px;
}

.transitCard p.cardNum {
	/*font-size: 2.2rem;
	margin: 30px auto 15px;*/
	font-size: 1.9rem;
    margin: 30px auto 15px;
    text-align: center;
}

.transitCard p.cardName span {
	padding: 4px 10px;
	background: rgba(255, 255, 255, .5);
	margin-right: -10px;
	font-size: 1rem;
}
.myTransitCard {
	background-color: #04348c;
}

.myTransitCard h2,.myTransitCard a {
	color: #fff;
}

.myTransitCardBox {
	padding: 5px 0;
	border-radius: 5px;
	text-align: center;
	margin: 80px auto;
}
.code {
    width: 60%;
    margin: 0 auto;
    background: #fff;
    padding: 15px;
    border-radius: 5px;
}
.myTc {
	margin-bottom: 10px;
	display: inline-block;
	width: 100%;
}
#imgOne{
	width: 100%;
	margin-bottom: 10px;
}
.myTransitCardBox>p.myTc img {
	width: 80%;
}
.myTransitCardBox>p.myTcHelp {
	color: #666;
}
.copy{
	background: #fff;
	border: none;
	height: 50px;
	line-height: 50px;	
	border-radius: 10px;
	padding: 0 10px;
	display: inline-block;
	position: relative;
}
.copyTitle{
	color: #2A82E4;
	display: inline-block;
	vertical-align: middle;
}
.copyLink{
	width: 52%;
	display: inline-block;
	padding: 0 5px;
	overflow: hidden;
	vertical-align: middle;
}
.copy button{
	width: 20%;
	height: 70%;
	background-color: rgb(206, 162, 94);
	border: none;
	color: #fff;
	border-radius: 10px;
	vertical-align: middle;
	position: absolute;
	right: 10px;
	top: 8px;
}
